* {
  box-sizing: border-box;
}

body {
  margin:0;
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

/***************************************

*****************************************/


/***************************************

*****************************************/


/***************************************

*****************************************/


/***************************************
MEDIA QUERIES
*****************************************/

/* tablet */
@media (min-width: 768px) and (max-width: 1023px){

}

/* mobile */
@media screen and (max-width: 767px){

}
